{% extends "app/base.html" %}

{% block content %}
<h1>Course Outline Planner Overview</h1>
<br />
<body>
    <table class="table table-bordered">
        <tr>
            <th><a href='schoollist'>Schools</a></th>
            <th><a href='teacherlist'>Teachers</a></th>
            <th><a href='studentlist'>Students</a></th>
            <th><a href='subjectlist'>Subjects</a></th>
            <th><a href='courselist'>Courses</a></th>
            <th><a href='unitlist'>Units</th>
            <th><a href='assessmentitemlist'>Assessment Items</a></th>
            <th><a href='enrolmentlist'>Enrolments</a></th>
            <th><a href='markbooklist'>Markbooks</a></th>
            <th><a href='submissionlist'>Submissions</a></th>
        </tr>
        <tr>
            <td>{{ objSchools.count }}</td>
            <td>{{ objTeachers.count }}</td>
            <td>{{ objStudents.count }}</td>
            <td>{{ objSubjects.count }}</td>
            <td>{{ objCourses.count }}</td>
            <td>{{ objUnits.count }}</td>
            <td>{{ objAssessmentItems.count }}</td>
            <td>{{ objEnrolments.count }}</td>
            <td>{{ objMarkbooks.count }}</td>
            <td>{{ objSubmissions.count }}</td>
        </tr>
    </table>
</body>
<br />
<p><a href='create_markbooks'>Create Markbooks</a></p>

<body>
    <table class="table table-bordered">
        <tr>
            <hd>Table</hd>
            <hd></hd>
            <hd></hd>
        </tr>
        <tr>
            <td>Schools</td>
            <td><a href='schoolinput'>Add</a></td>
            <td><a href='schoollist'>Show</a></td>
        </tr>
        <tr>
            <td>Teachers</td>
            <td><a href='teacherinput'>Add</a></td>
            <td><a href='teacherlist'>Show</a></td>
        </tr>
        <tr>
            <td>Students</td>
            <td><a href='studentinput'>Add</a></td>
            <td><a href='studentlist'>Show</a></td>
        </tr>
        <tr>
            <td>Subjects</td>
            <td><a href='subjectinput'>Add</a></td>
            <td><a href='subjectlist'>Show</a></td>
        </tr>
        <tr>
            <td>Courses</td>
            <td><a href='courseinput'>Add</a></td>
            <td><a href='courselist'>Show</a></td>
        </tr>
        <tr>
            <td>Units</td>
            <td><a href='unitinput'>Add</a></td>
            <td><a href='unitlist'>Show</a></td>
        </tr>
        <tr>
            <td>Assessment Items</td>
            <td><a href='assessmentiteminput'>Add</a></td>
            <td><a href='assessmentitemlist'>Show</a></td>
        </tr>
        <tr>
            <td>Enrolments</td>
            <td><a href='enrolmentinput'>Add</a></td>
            <td><a href='enrolmentlist'>Show</a></td>
        </tr>
        <tr>
            <td>Markbooks</td>
            <td><a href='markbookinput'>Add</a></td>
            <td><a href='markbooklist'>Show</a></td>
        </tr>
        <tr>
            <td>Submissions</td>
            <td><a href='submissioninput'>Add</a></td>
            <td><a href='submissionlist'>Show</a></td>
        </tr>
    </table>

        <p><a href="{% url 'rubric' %}">Rubric Genertor</a></p>
</body>
{% endblock %}



