{% load static %}

<body>
    <img src="{% static 'app/images/Screenshot 2026-05-26 122300.png' %}" alt="Logo" style="display:block;">

    <strong>Teachers:</strong>
    {% if content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Teaching Area</th>
        </tr>
        {% for teach in content %}
        <tr>
            <td>{{teach.Name}}</td>
            <td>{{teach.Area}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <strong>No data!</strong>
    {% endif %}
</body>



<body>
    <strong>Subjects:</strong>
    {% if content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Faculty</th>
        </tr>
        {% for teach in content %}
        <tr>
            <td>{{sub.Name}}</td>
            <td>{{sub.Faculty}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <strong>No data!</strong>
    {% endif %}
</body>



<body>
    <strong>Schools:</strong>
    {% if content %}
    <table>
        <tr>
            <th>Name</th>
        </tr>
        {% for teach in content %}
        <tr>
            <td>{{sch.Name}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <strong>No data!</strong>
    {% endif %}
</body>



<p><a href="{% url 'teacherinput' %}">Input new Teachers</a></p>

<p><a href="{% url 'schoolinput' %}">Input new Schools</a></p>

<p><a href="{% url 'subjectinput' %}">Input new Subjects</a></p>







