{% extends "app/base.html" %}
{% block content %}

<body>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% load static %}


        <strong>Assessment Items:</strong>
        {% if lstAssessmentItems.all %}
        <table class="table table-bordered">
            <tr>
                <th>Course</th>
                <th>Unit</th>
                <th>Assessment Item Nbr</th>
                <th>Assessment Item Name</th>
                <th>Assessment Item Type</th>
                <th>Weighting (%)</th>
                <th>Description</th>
            </tr>
            {% for assessmentitem in lstAssessmentItems.all %}
            <tr>
                <td><a href="{% url 'show_assessmentitem' assessmentitem.id %}">{{assessmentitem.AssessmentItemNbr}}</a></td>
                <td>{{assessmentitem.Course}}</td>
                <td>{{assessmentitem.Unit}}</td>
                <td>{{assessmentitem.AssessmentItemName}}</td>
                <td>{{assessmentitem.AssessmentItemType}}</td>
                <td>{{assessmentitem.Weighting}}</td>
                <td>{{assessmentitem.Description}}</td>
                <td align="right"><a href="{% url 'update_assessmentitem' assessmentitem.id %}">Update</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No Assessment Items found.</p>
        {% endif %}
    </form>
</body>

    {% endblock %}

