{% extends "app/base.html" %}
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% load static %}


    <h1> School Subjects </h1>

    <strong>Subjects:</strong>
    {% if lstSubjects.all %}
    <table class="table table-bordered">
        <tr>
            <th>School</th>
            <th>Subject Nbr</th>
            <th>Subject Name</th>
            <th>Description</th>
        </tr>
        {% for subject in lstSubjects.all %}
        <tr>
            <td><a href="{% url 'show_subject' subject.id %}">{{subject.SubjectNbr}}</a></td>
            <td>{{subject.School}}</td>
            <td>{{subject.SubjectName}}</td>
            <td>{{subject.Description}}</td>
            <td align="right"><a href="{% url 'update_subject' subject.id %}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No Subjects found.</p>
    {% endif %}
</form>

{% endblock %}