{% extends "app/base.html" %}
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% load static %}

    <strong>Markbooks:</strong>
    {% if lstMarkbooks.all %}
    <table class="table table-bordered">
        <tr>
            <th>Markbook Nbr</th>
            <th>Markbook Name</th>
            <th>Teacher Name</th>
            <th>Course Name</th>
            <th>Unit Name</th>
            <th>Assessment Item</th>
            <th>Weighting</th>
            <th>Due Date</th>
        </tr>
        {% for markbook in lstMarkbooks.all %}
        <tr>
            <td><a href="{% url 'show_markbook' markbook.id %}">{{markbook.MarkbookNbr}}</a></td>
            <td>{{markbook.MarkbookName}}</td>
            <td>{{markbook.TeacherName}}</td>
            <td>{{markbook.CourseName}}</td>
            <td>{{markbook.UnitName}}</td>
            <td>{{markbook.AssessmentItem}}</td>
            <td>{{markbook.Weighting}}</td>
            <td>{{markbook.DueDate}}</td>
            <td align="right"><a href="{% url 'update_markbook' markbook.id %}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No Markbooks found.</p>
    {% endif %}
    </
    </body>
    {% endblock %}
