<table border="1">

    <tr>
        <th>Criterion</th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>E</th>
    </tr>

    {% for criterion, bands in rubric.items %}

    <tr>

        <td>{{ criterion }}</td>

        <td>{{ bands.A }}</td>
        <td>{{ bands.B }}</td>
        <td>{{ bands.C }}</td>
        <td>{{ bands.D }}</td>
        <td>{{ bands.E }}</td>

    </tr>

    {% endfor %}

</table>

<p><a href="{% url 'report'%}">PDF report</a></p>


