<!DOCTYPE html>
<html>
<head>
    <title>School Registration Form</title>
</head>
<body>
    <h2>School Registration Form</h2>
    <h3>Enter School Details</h3>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-secondary">

        <label for="exampleColorInput" class="form-label">Color picker</label>
        <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c" title="Choose your color"

        <label for="exampleDataList" class="form-label">Datalist example</label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
        <datalist id="datalistOptions">
            <option value="ACT">
            <option value="NSW">
            <option value="NT">
            <option value="QLD">
            <option value="SA">
            <option value="TAS">
            <option value="VIC">
            <option value="WA">
        </datalist>
    </form>

</body>
<br />
<body>
    <strong>Schools:</strong>
    {% if objSchools.all %}
    <table class="table table-bordered">
        <tr>
            <th>School Name</th>
            <th>School State</th>
        </tr>
        {% for school in objSchools.all %}
        <tr>
            <td>{{school.SchoolName}}</td>
            <td>{{school.State}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No schools found.</p>
    <table class="table table-bordered">
        <tr>
            <th>School Name</th>
            <th>School State</th>
        </tr>
        <tr>
            <td>No School Name data</td>
            <td>No School State data</td>
        </tr>
        {% endif %}

        <br />
        <input type="button" value="Close">
        <br />
        <input type="checkbox" value="Yes"
        <label for="checkbox">Check this box to confirm you have entered the correct data.</label>

</body>
</html>