{% extends "app/base.html" %}

{% block content %}
<h1> Unit </h1>
<h2> {{ course.CourseName }} </h2>

<div class="card">
    <div class="card-header">


    </div>

    <div class="card-body">
        <h5 class="card-title">Course: {{course.CourseName}}</h5>
        <p class="card-text">
            <ul>
                <li>Course Nbr: {{ course.CourseNbr }}</li>
                <li>Course Name: {{ course.CourseName }}</li>

            </ul>

        </p>
    </div>
    <div class="card-footer text-muted"
    <a href="dummy" 1" class="btn btn-secondary btn-sm"></a>
    <a href="{% url 'clone_course' course.id %}" class="btn btn-secondary btn-sm">Clone Course</a>
    <a href="{% url 'update_course' course.id %}" class="btn btn-secondary btn-sm">Update Course</a>
    <a href="{% url 'delete_course' course.id %}" class="btn btn-outline-danger btn-sm">Delete Course</a>
    </div>
</div>



{% endblock %}