{% extends "app/base.html" %}

{% block content %}
<h1> Student Submissoin </h1>
<h2> {{ submission.SubmissionName }}</h2>

<div class="card">
    <div class="card-header">


    </div>

    <div class="card-body">
        <h5 class="card-title">Submission: {{submission.SubmissionName}}</h5>
        <p class="card-text">
            <ul>
                <li>Submission #: {{ submission.SubmissionNbr }}</li>
                <li>Submission Name: {{ submission.SubmissionName }}</li>
                <li>Student: {{ submission.Student }}</li>
                <li>Course: {{ submission.Course }}</li>

            </ul>

        </p>
    </div>
    <div class="card-footer text-muted"
    <a href="dummy" 1" class="btn btn-secondary btn-sm"></a>
    <a href="{% url 'clone_submission' submission.id %}" class="btn btn-secondary btn-sm">Clone Submission</a>
    <a href="{% url 'update_submission' submission.id %}" class="btn btn-secondary btn-sm">Update Submission</a>
    <a href="{% url 'delete_submission' submission.id %}" class="btn btn-outline-danger btn-sm">Delete Submission</a>
    </div>
</div>



{% endblock %}
