<!DOCTYPE html>
<html>
<head>
    <title>Subject Creation Form</title>
</head>
<body>
    <h2>Subject Creation Form</h2>
    <h3>Enter Subject Details</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</body>
<br />
<body>
    {% if objSubjects.all %}
    <strong>Subjects:</strong>
    <table>
        <tr>
            <th>Subject Name</th>
            <th>Subject Area</th>
        </tr>
        {% for subject in objSubjects.all %}
        <tr>
            <td>{{subject.SubjectName}}</td>
            <td>{{subject.Area}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No Subjects found.</p>
    {% endif %}
</body>
<br />
</html>